{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blipkart || Home</title>
    <link rel="stylesheet" href="{% static "cart.css" %}">
</head>
<body>
    <ul type="none">
        <a href="{% url "home" %}"><li class="nav">Home</li></a>
        <a href="{% url "cart" %}"><li id="cart" class="nav">Cart</li></a>
        <a href="{% url "account" %}"><li class="nav">account</li></a>
    </ul>
</body>
</html>