{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blipkart || Home</title>
    <link rel="stylesheet" href="{% static "home.css" %}">
</head>
<body>
    <ul type="none">
        <a href="{% url "home" %}"><li id="home" class="nav">Home</li></a>
        <a href="{% url "cart" %}"><li class="nav">Cart</li></a>
        <a href="{% url "account" %}"><li class="nav">account</li></a>
    </ul>
    
    {% for i in item %}
    <h1>{{ i.name }}</h1>
    {{ i.price }}
    {{ i.description }}
    <img src="{{ i.image.url }}" width='200px'>
    <a href="">add to cart</a>
    {% endfor %}
</body>
</html>